.stars {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;

  &__list {
    display: flex;
    margin-right: $star-review-gap;
  }

  &__star {
    width: $star-size;
    height: $star-size;
    background: url('../images/star.svg') center no-repeat;
    margin-right: $star-gap;
  }

  &__reviews {
    font-size: 10px;
    line-height: 14px;
  }

  @for $i from 1 through 5 {
    &--#{$i} &__star:nth-child(-n + #{$i}) {
      background-image: url('../images/star-active.svg');
    }
  }
}
