.stars {
  display: -webkit-box;
  display: flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 16px;
}

.stars__list {
  display: -webkit-box;
  display: flex;
  display: flex;
  margin-right: 17px;
}

.stars__star {
  width: 16px;
  height: 16px;
  background-image: url('../images/star.svg');
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 4px;
}

.stars__reviews {
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0%;
}

.stars--1 .stars__star:nth-child(-n + 1) {
  background-image: url('../images/star-active.svg');
}

.stars--2 .stars__star:nth-child(-n + 2) {
  background-image: url('../images/star-active.svg');
}

.stars--3 .stars__star:nth-child(-n + 3) {
  background-image: url('../images/star-active.svg');
}

.stars--4 .stars__star:nth-child(-n + 4) {
  background-image: url('../images/star-active.svg');
}

.stars--5 .stars__star:nth-child(-n + 5) {
  background-image: url('../images/star-active.svg');
}

.card {
  width: 200px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Roboto, sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}

.card__image {
  width: 100%;
  display: -webkit-box;
  display: flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.card__image img {
  width: 160px;
  height: 134px;
  -o-object-fit: cover;
  object-fit: cover;
}

.card__content {
  width: 160px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0;
  gap: 8px;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.card .caption__main {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  padding-bottom: 4px;
}

.card .caption__secondary {
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: #616070;
}

.card .price {
  padding-top: 24px;
  padding-bottom: 16px;
  display: -webkit-box;
  display: flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.card .price__caption {
  font-weight: 400;
  font-size: 12px;
}

.card .price__value {
  font-weight: 500;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card .button {
  width: 166px;
  height: 40px;
  border: 1px solid #00acdc;
  border-radius: 5px;
  background-color: #00acdc;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition:
    background-color 0.2s,
    color 0.2s;
  transition:
    background-color 0.2s,
    color 0.2s;
}

.card .button:hover {
  background-color: #fff;
  color: #00acdc;
}
/*# sourceMappingURL=index.css.map */
